.form {
  display: flex;
  flex-direction: column;
  width: 320px;
  /* background-color: #f18086; */
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  background-image: url(../../image/Blue_Background.jpg);
}
.label {
  font-size: 20px;
  letter-spacing: 0, 03em;
  display: flex;
  width: 40%;
  flex-direction: column;
  margin-bottom: 16px;
  padding-left: 12px;
}
.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  width: 120px;
  height: 28px;
  text-align: center;
  padding: 8px;
  margin-left: 12px;
  margin-bottom: 12px;
  border: none;
  cursor: pointer;
  background-color: rgb(8, 139, 226);
}
.button:hover {
  background-color: rgb(1, 229, 1);
  color: #000000;
}

.input {
  width: 140px;
  border: 1px solid black;
  border-radius: 4px;
}
